## Competition! Predict df_to_be_tested

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st
import sklearn

In [2]:
file_train = "train.csv"
file_test = "test_no_class.csv"
df = pd.read_csv(file_train)
df2= pd.read_csv(file_test)

## Train Set

In [3]:
df.head(5)

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
0,48,meale,1,2,1,1,2,2,1,2,1,1,1,4.80,123,157,2.7,31,2,DIE
1,51,Male,2,2,1,2,2,2,1,1,1,2,1,1.00,?,20,3.0,63,2,LIVE
2,40,m,1,2,1,2,2,2,1,2,2,2,2,0.60,62,166,4.0,63,1,LIVE
3,25,m,2,2,1,2,2,1,1,1,1,1,1,1.30,181,181,4.5,57,2,LIVE
4,34,M,1,2,1,2,2,1,1,2,1,2,2,1.00,72,46,4.4,57,1,LIVE

In [4]:
df.dtypes

AGE                 int64
SEX                object
STEROID            object
ANTIVIRALS          int64
FATIGUE             int64
MALAISE             int64
ANOREXIA            int64
LIVER BIG          object
LIVER FIRM         object
SPLEEN PALPABLE    object
SPIDERS            object
ASCITES            object
VARICES            object
BILIRUBIN          object
ALK PHOSPHATE      object
SGOT               object
ALBUMIN            object
PROTIME            object
HISTOLOGY           int64
Class              object
dtype: object

In [5]:
col = df.columns
for col in col:
    print(col, df[col].unique())

AGE [48 51 40 25 34 52 31 62 30 61 50 39 59 36 27 41 53 23 49 65 69 37 20 42
 54 38 33 28 22 45 46 35 24 44 56 47 43 60  7 58 67 32]
SEX ['meale' 'Male' 'm' 'M' 'maled' 'male' 'F' 'Feamle' 'female']
STEROID ['1' '2' '?']
ANTIVIRALS [2 1]
FATIGUE [1 2]
MALAISE [1 2]
ANOREXIA [2 1]
LIVER BIG ['2' '1' '?']
LIVER FIRM ['1' '2' '?']
SPLEEN PALPABLE ['2' '1' '?']
SPIDERS ['1' '2' '?']
ASCITES ['1' '2' '?']
VARICES ['1' '2' '?']
BILIRUBIN ['4.80' '1.00' '0.60' '1.30' '0.70' '2.50' '8.00' '0.90' '1.50' '2.40'
 '4.60' '0.30' '0.80' '3.20' '1.20' '2.80' '7.60' '1.60' '2.90' '?' '3.90'
 '2.00' '1.70' '1.90' '3.00' '1.10' '0.50' '0.40']
ALK PHOSPHATE ['123' '?' '62' '181' '72' '40' '75' '85' '78' '141' '165' '30' '46' '230'
 '107' '120' '168' '215' '81' '56' '34' '135' '180' '119' '80' '89' '155'
 '53' '74' '127' '48' '76' '138' '68' '71' '90' '103' '70' '110' '50'
 '166' '60' '100' '95' '158' '164' '86' '126' '139' '92' '256' '114' '52'
 '130' '167' '179' '194' '243' '55']
SGOT ['157' '20' '166' '181' '46' '69' '55' '58' '156' '64' '25' '75' '101'
 '24' '52' '117' '30' '227' '269' '60' '19' '16' '15' '48' '42' '53' '33'
 '136' '80' '31' '152' '28' '200' '90' '110' '182' '18' '271' '44' '242'
 '34' '68' '14' '153' '43' '145' '?' '78' '63' '40' '278' '120' '114'
 '142' '81' '59' '65' '38' '140' '100' '231' '150' '49' '45' '225']
ALBUMIN ['2.7' '3.0' '4.0' '4.5' '4.4' '4.2' '4.6' '3.9' '2.8' '3.8' '2.2' '3.4'
 '3.6' '4.1' '3.7' '3.5' '2.9' '?' '2.4' '3.3' '4.9' '2.6' '4.8' '4.7'
 '3.1' '2.1' '4.3' '5.3']
PROTIME ['31' '63' '57' '67' '21' '100' '52' '58' '?' '72' '76' '80' '41' '38'
 '66' '51' '48' '54' '74' '85' '32' '60' '64' '50' '70' '47' '42' '75'
 '43' '46' '62' '84' '29' '0' '56' '90']
HISTOLOGY [2 1]
Class ['DIE' 'LIVE']

In [6]:
df.isna().sum()

AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
Class              0
dtype: int64

In [7]:
# Convertin "male" to 0 and "female" to 1

gender_mapping = {"Male":0, 
                  "Feamle":1, 
                  "maled":0,
                  "m":0, 
                  "female":1, 
                  "meale":0, 
                  "male":0,
                  "M":0,
                  "F":1}

df["SEX"] = df["SEX"].map(gender_mapping)

df['Class']=df['Class'].map({'DIE':0, 'LIVE':1})

In [8]:
df.head(5)

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
0,48,0,1,2,1,1,2,2,1,2,1,1,1,4.80,123,157,2.7,31,2,0
1,51,0,2,2,1,2,2,2,1,1,1,2,1,1.00,?,20,3.0,63,2,1
2,40,0,1,2,1,2,2,2,1,2,2,2,2,0.60,62,166,4.0,63,1,1
3,25,0,2,2,1,2,2,1,1,1,1,1,1,1.30,181,181,4.5,57,2,1
4,34,0,1,2,1,2,2,1,1,2,1,2,2,1.00,72,46,4.4,57,1,1

In [9]:
df = df.apply(pd.to_numeric, errors='coerce')

In [10]:
df.dtypes

AGE                  int64
SEX                  int64
STEROID            float64
ANTIVIRALS           int64
FATIGUE              int64
MALAISE              int64
ANOREXIA             int64
LIVER BIG          float64
LIVER FIRM         float64
SPLEEN PALPABLE    float64
SPIDERS            float64
ASCITES            float64
VARICES            float64
BILIRUBIN          float64
ALK PHOSPHATE      float64
SGOT               float64
ALBUMIN            float64
PROTIME            float64
HISTOLOGY            int64
Class                int64
dtype: object

In [11]:
df.isna().sum()

AGE                 0
SEX                 0
STEROID             1
ANTIVIRALS          0
FATIGUE             0
MALAISE             0
ANOREXIA            0
LIVER BIG           6
LIVER FIRM          7
SPLEEN PALPABLE     3
SPIDERS             3
ASCITES             3
VARICES             3
BILIRUBIN           3
ALK PHOSPHATE      18
SGOT                3
ALBUMIN             9
PROTIME            47
HISTOLOGY           0
Class               0
dtype: int64

In [12]:
df = df.drop(columns = ["ALK PHOSPHATE", "PROTIME"])

In [13]:
col_binary = []
for col in df.columns:
    if df[col].nunique() == 2:
        col_binary.append(col)        
col_binary

['SEX',
 'STEROID',
 'ANTIVIRALS',
 'FATIGUE',
 'MALAISE',
 'ANOREXIA',
 'LIVER BIG',
 'LIVER FIRM',
 'SPLEEN PALPABLE',
 'SPIDERS',
 'ASCITES',
 'VARICES',
 'HISTOLOGY',
 'Class']

In [14]:
# replacing missing values in binary columns with mode
for col in col_binary:
    df[col] = df[col].fillna(df[col].mode()[0])

In [15]:
df.isnull().sum()

AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          3
SGOT               3
ALBUMIN            9
HISTOLOGY          0
Class              0
dtype: int64

In [16]:
# interpolating the rest 
df = df.interpolate()

In [17]:
from scipy.stats import pointbiserialr
r_pb_sex,_ = pointbiserialr(df.Class, df.SEX)
r_pb_steroid,_ = pointbiserialr(df.Class, df.STEROID)
r_pb_antiv,_ = pointbiserialr(df.Class, df.ANTIVIRALS)
r_pb_fat,_ = pointbiserialr(df.Class, df.FATIGUE)
r_pb_malaise,_ = pointbiserialr(df.Class, df.MALAISE)
r_pb_anorexia,_ = pointbiserialr(df.Class, df.ANOREXIA)
r_pb_lbig,_ = pointbiserialr(df.Class, df['LIVER BIG'])
r_pb_lfirm,_ = pointbiserialr(df.Class, df['LIVER FIRM'])
r_pb_spleen,_ = pointbiserialr(df.Class, df['SPLEEN PALPABLE'])
r_pb_spiders,_ = pointbiserialr(df.Class, df.SPIDERS)
r_pb_ascites,_ = pointbiserialr(df.Class, df.ASCITES)
r_pb_varices,_ = pointbiserialr(df.Class, df.VARICES)
r_pb_bilirubin,_ = pointbiserialr(df.Class, df.BILIRUBIN)
r_pb_sgot,_ = pointbiserialr(df.Class, df.SGOT)
r_pb_histology,_ = pointbiserialr(df.Class, df.HISTOLOGY)

print(f""" sex: {r_pb_sex}, 
steroid: {r_pb_steroid}, 
antivirals: {r_pb_antiv}, 
fatigue: {r_pb_fat}, 
malaise: {r_pb_malaise}, 
anorexia: {r_pb_anorexia}, 
liver big: {r_pb_lbig}, 
liver firm: {r_pb_lfirm}, 
spllen : {r_pb_spleen}, 
spiders: {r_pb_spiders}, 
ascites: {r_pb_ascites}, 
varices: {r_pb_varices}, 
bilirubin: {r_pb_bilirubin}, 
sgot: {r_pb_sgot}, 
histology: {r_pb_histology}""")

 sex: 0.16787005172844502,
steroid: 0.13124121770334668,
antivirals: -0.14296251865773682,
fatigue: 0.34219629061231455,
malaise: 0.37229335019892396,
anorexia: 0.20951312035156971,
liver big: -0.0567825569410942,
liver firm: 0.08763841367493645,
spllen : 0.2891642656084279,
spiders: 0.41147559989891175,
ascites: 0.5324781182868407,
varices: 0.3870624072687478,
bilirubin: -0.47328341022222653,
sgot: -0.12498450161028264,
histology: -0.363696483726654

## To be predicted Set

In [18]:
df2.head(5)

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,39,Male,2,2,1,2,2,2,1,2,2,2,2,0.70,?,48,4.4,?,1
1,41,Feamle,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1
2,28,maled,1,2,1,1,1,2,1,2,2,2,2,1.60,44,123,4.0,46,1
3,36,maled,1,2,1,1,1,2,1,2,2,2,2,1.00,?,45,4.0,57,1
4,32,M,2,2,2,2,2,2,2,2,2,2,2,0.70,102,64,4.0,90,1

In [19]:
df2.dtypes

AGE                 int64
SEX                object
STEROID             int64
ANTIVIRALS          int64
FATIGUE            object
MALAISE            object
ANOREXIA           object
LIVER BIG          object
LIVER FIRM         object
SPLEEN PALPABLE    object
SPIDERS            object
ASCITES            object
VARICES            object
BILIRUBIN          object
ALK PHOSPHATE      object
SGOT               object
ALBUMIN            object
PROTIME            object
HISTOLOGY           int64
dtype: object

In [20]:
col = df2.columns
for col in col:
    print(col, df2[col].unique())

AGE [39 41 28 36 32 25 22 47 20 30 66 34 45 78 72 49 57 42 37 38 24 58 33 64
 26 62 61 70 54 27 35 31]
SEX ['Male' 'Feamle' 'maled' 'M' 'm' 'female' 'meale' 'male' 'F']
STEROID [2 1]
ANTIVIRALS [2 1]
FATIGUE ['1' '2' '?']
MALAISE ['2' '1' '?']
ANOREXIA ['2' '1' '?']
LIVER BIG ['2' '1' '?']
LIVER FIRM ['1' '2' '?']
SPLEEN PALPABLE ['2' '1' '?']
SPIDERS ['2' '1' '?']
ASCITES ['2' '1' '?']
VARICES ['2' '1' '?']
BILIRUBIN ['0.70' '1.60' '1.00' '0.40' '2.00' '2.30' '2.20' '1.20' '?' '1.70' '0.80'
 '1.40' '4.10' '0.60' '1.50' '4.60' '0.50' '3.50' '1.80' '4.20' '0.90']
ALK PHOSPHATE ['?' '81' '44' '102' '45' '84' '150' '57' '295' '96' '147' '59' '115' '85'
 '67' '125' '100' '82' '175' '63' '80' '118' '135' '75' '215' '109' '72'
 '191' '160' '280' '26' '62' '133' '65' '58' '70']
SGOT ['48' '53' '123' '45' '64' '18' '24' '23' '68' '144' '86' '65' '60' '32'
 '128' '249' '52' '70' '14' '28' '31' '39' '55' '80' '38' '16' '40' '29'
 '20' '54' '528' '89' '420' '118' '?' '98' '58' '92' '224' '648' '120'
 '34' '173']
ALBUMIN ['4.4' '5.0' '4.0' '4.3' '?' '4.2' '3.9' '4.9' '3.0' '2.7' '3.7' '3.4'
 '3.5' '2.6' '2.8' '3.3' '3.8' '4.1' '2.9' '4.5' '3.1' '6.4']
PROTIME ['?' '74' '46' '57' '90' '70' '66' '78' '100' '54' '50' '35' '73' '77'
 '36' '31' '30' '60' '29' '23' '40' '39' '62']
HISTOLOGY [1 2]

In [21]:
df2.isna().sum()

AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
dtype: int64

In [22]:
# Convertin "male" to 0 and "female" to 1

gender_mapping = {"Male":0, 
                  "Feamle":1, 
                  "maled":0,
                  "m":0, 
                  "female":1, 
                  "meale":0, 
                  "male":0,
                  "M":0,
                  "F":1}

df2["SEX"] = df2["SEX"].map(gender_mapping)

In [23]:
df2.head(5)

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,39,0,2,2,1,2,2,2,1,2,2,2,2,0.70,?,48,4.4,?,1
1,41,1,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1
2,28,0,1,2,1,1,1,2,1,2,2,2,2,1.60,44,123,4.0,46,1
3,36,0,1,2,1,1,1,2,1,2,2,2,2,1.00,?,45,4.0,57,1
4,32,0,2,2,2,2,2,2,2,2,2,2,2,0.70,102,64,4.0,90,1

In [24]:
df2 = df2.apply(pd.to_numeric, errors='coerce')

In [25]:
df2.dtypes

AGE                  int64
SEX                  int64
STEROID              int64
ANTIVIRALS           int64
FATIGUE            float64
MALAISE            float64
ANOREXIA           float64
LIVER BIG          float64
LIVER FIRM         float64
SPLEEN PALPABLE    float64
SPIDERS            float64
ASCITES            float64
VARICES            float64
BILIRUBIN          float64
ALK PHOSPHATE      float64
SGOT               float64
ALBUMIN            float64
PROTIME            float64
HISTOLOGY            int64
dtype: object

In [26]:
df.SEX.unique()

array([0, 1])

In [27]:
df2.isna().sum()

AGE                 0
SEX                 0
STEROID             0
ANTIVIRALS          0
FATIGUE             1
MALAISE             1
ANOREXIA            1
LIVER BIG           4
LIVER FIRM          4
SPLEEN PALPABLE     2
SPIDERS             2
ASCITES             2
VARICES             2
BILIRUBIN           3
ALK PHOSPHATE      11
SGOT                1
ALBUMIN             7
PROTIME            20
HISTOLOGY           0
dtype: int64

In [28]:
df2 = df2.drop(columns = ["ALK PHOSPHATE", "PROTIME"])

In [29]:
col_binary = []
for col in df2.columns:
    if df2[col].nunique() == 2:
        col_binary.append(col)        
col_binary

['SEX',
 'STEROID',
 'ANTIVIRALS',
 'FATIGUE',
 'MALAISE',
 'ANOREXIA',
 'LIVER BIG',
 'LIVER FIRM',
 'SPLEEN PALPABLE',
 'SPIDERS',
 'ASCITES',
 'VARICES',
 'HISTOLOGY']

In [30]:
# replacing missing values in binary columns with mode
for col in col_binary:
    df2[col] = df2[col].fillna(df[col].mode()[0])

In [31]:
df2.isna().sum()

AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          3
SGOT               1
ALBUMIN            7
HISTOLOGY          0
dtype: int64

In [32]:
# interpolating the rest 
df2 = df2.interpolate()

## Modeling

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import cohen_kappa_score, accuracy_score
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier, RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

### Version 1 - no dropping columns

In [34]:
X = df.drop(columns ="Class")
y = df["Class"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 10)

#### Normalization

In [35]:
normalizer = MinMaxScaler()

# training dataset 
normalizer.fit(X_train)
X_train_norm = normalizer.transform(X_train)
X_test_norm = normalizer.transform(X_test)

#### Logsitic Regression

In [36]:
#train
logreg = LogisticRegression(random_state=10)
logreg.fit(X_train_norm, y_train)

# predict 
y_pred_log = logreg.predict(X_test_norm)

#evaluate
print(f"The accuracy of the model on the TEST set is: {metrics.accuracy_score(y_test, y_pred_log): .2f}")
kappa = cohen_kappa_score(y_test, y_pred_log)
print("Cohen's Kappa:", kappa)

The accuracy of the model on the TEST set is:  0.88
Cohen's Kappa: 0.3389830508474576

#### Bagging

In [37]:
bagging = BaggingClassifier(random_state=10)
bagging.fit(X_train_norm, y_train)

# predict 
y_pred_bag = bagging.predict(X_test_norm)

#evaluate
print(f"The accuracy of the model on the TEST set is: {metrics.accuracy_score(y_test, y_pred_bag):.2f}")
kappa_bagging = cohen_kappa_score(y_test, y_pred_bag)
print("Cohen's Kappa:", kappa_bagging)

The accuracy of the model on the TEST set is: 0.92
Cohen's Kappa: 0.45833333333333337

#### AdaBoost Classifier

In [38]:
adaboost = AdaBoostClassifier(random_state=10)
adaboost.fit(X_train_norm, y_train)

y_pred_ada = adaboost.predict(X_test_norm)

print(f"The accuracy of the model on the TEST set is: {metrics.accuracy_score(y_test, y_pred_ada):.2f}")
kappa_adaboost = cohen_kappa_score(y_test, y_pred_ada)
print("Cohen's Kappa:", kappa_adaboost)

The accuracy of the model on the TEST set is: 0.92
Cohen's Kappa: 0.45833333333333337

/Users/leilajavanmardi/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_weight_boosting.py:519: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

#### Random Patch

In [39]:
random_patch = RandomForestClassifier(random_state=10)
random_patch.fit(X_train_norm, y_train)

y_pred_random_patch = random_patch.predict(X_test_norm)

print(f"The accuracy of the model on the TEST set is: {metrics.accuracy_score(y_test, y_pred_random_patch):.2f}")
kappa_random_patch = cohen_kappa_score(y_test, y_pred_random_patch)
print("Cohen's Kappa:", kappa_random_patch)

The accuracy of the model on the TEST set is: 0.92
Cohen's Kappa: 0.45833333333333337

## Comparing the result with the solution set:

In [40]:
# loading the solution dataset 
test_with_class = "test.csv"
df_solution = pd.read_csv(test_with_class)
y_solution =df_solution['Class']

# normalizing the second dataset 
df2_normalized = normalizer.transform(df2)

#### Logistic Regression

In [41]:
df2['Class'] = logreg.predict(df2_normalized)

df_predicted = df2[['Class']].copy()
df_predicted['Class'] = df_predicted['Class'].replace({1: 'LIVE', 0: 'DIE'})

## evaluation 
kappa = cohen_kappa_score(y_solution, df_predicted)
print("For logistic regression our score Kappa could have been :", kappa)

For logistic regression our score Kappa could have been : 0.42599277978339356

#### Bagging

In [42]:
df2['Class'] = bagging.predict(df2_normalized)

df_predicted2 = df2[['Class']].copy()
df_predicted2['Class'] = df_predicted2['Class'].replace({1: 'LIVE', 0: 'DIE'})

## evaluation 
kappa2 = cohen_kappa_score(y_solution, df_predicted2)
print("For Bagging and Pasting our score Kappa could have been :", kappa2)

For Bagging and Pasting our score Kappa could have been : 0.500523560209424

#### AdaBoost Classifier

In [43]:
df2['Class'] = adaboost.predict(df2_normalized)

df_predicted3 = df2[['Class']].copy()
df_predicted3['Class'] = df_predicted3['Class'].replace({1: 'LIVE', 0: 'DIE'})

## evaluation 
kappa3 = cohen_kappa_score(y_solution, df_predicted3)
print("For Adaboost our score Kappa could have been :", kappa3)

For Adaboost our score Kappa could have been : 0.38515081206496526

#### Random Patch

In [44]:
df2['Class'] = random_patch.predict(df2_normalized)

df_predicted4 = df2[['Class']].copy()
df_predicted4['Class'] = df_predicted4['Class'].replace({1: 'LIVE', 0: 'DIE'})

## evaluation 
kappa4 = cohen_kappa_score(y_solution, df_predicted4)
print("For Random Patch our score Kappa could have been :", kappa4)

For Random Patch our score Kappa could have been : 0.42599277978339356